<div class="container-fluid" id="contact">
	<div class="row text-center">
		<h1>Cantattaci</h1>
		<h3>Risponderemo subito</h3>
		<div class="row">
		<form class="sanna-form">
				<div class="col-md-6">
					<div class="form-group">
						<label for="exampleInputEmail1">Email address</label>
						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" required>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
					</div>
				</div>
				<div class="col-md-6">
					<label for="exampleInputPassword1">Lascia un messaggio</label>
					<textarea class="form-control" rows="3" required></textarea>
				</div>
			</div>
			<div class="row text-center">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</form>
	</div>
</div>